.fetching-api {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 6;
    border: 3px solid black;
    background-color: white;
}

.api-minimal {
    text-align: center;
    margin: 60px;
    padding: 40px;
}