.app-section {
  text-align: left;
  margin-left: 40px;
  padding: 20px;
}

.app-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-width: 30%;
  max-width: 70%;
}

.post-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-content-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.post-create textarea{
  width: 99%;
  min-width: 30%;
  min-height: 200px;
  margin: 0px 8px 8px 0px;
  resize: none;
}

button {
  font-size: 24px;
  width: 100%;
  padding: 8px;
}