.app-section {
  text-align: left;
  margin-left: 60px;
}

.app-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-width: 30%;
  max-width: 70%;
}

.app-content {
  display: block;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.app-content-header {
  font-weight: bold;
  font-size: 20px;
}