.navbar {
    background-color: rgb(158, 158, 158);
    padding: 16px;
    flex: 1.5;
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar ul li {
    margin: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}